{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p><h3>Команда: <b>DELETE</b></h3></p>
                    <hr>
                    <p>
                        Синтаксис:
                    </p>
                    <blockquote class="blockquote">
                        DELETE FROM имя_таблицы WHERE условие;
                    </blockquote>
                    <hr>
                    <p>
                        Пример:
                    </p>
                    <div class="card card-gray">
                        <div class="card-header">
                            <i>Удаление строки по условию</i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                DELETE FROM aircrafts WHERE aircraft_code = 'CN1';
                            </blockquote>
                        </div>
                    </div>
                    <div class="card card-gray">
                        <div class="card-header">
                            <i>Удаление строки по сложному условию</i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                DELETE FROM aircrafts WHERE range > 10000 OR range < 3000;
                            </blockquote>
                        </div>
                    </div>
                    <div class="card card-gray">
                        <div class="card-header">
                            <i>Удаление ВСЕХ строк</i>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                DELETE FROM aircrafts;
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}